nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href="#")
    i.far.fa-calendar     
  button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon    
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href="#")
          | Kezdjük
          span.sr-only (current)         
      li.nav-item
        a.nav-link(href="#profile") Profil       
      li.nav-item
        a.nav-link(href="#library") Ismeretek        
      li.nav-item
        a.nav-link(href="#api") RESTful API         
      li.nav-item
        a.nav-link(href="#contact") Kapcsolat      
    .form-inline.my-2.my-lg-0
      .reg-log(*ngIf="!userService.loggedIn")
        button.btn.btn-outline-success.my-2.my-sm-0(type="button", data-toggle="modal", data-target="#loginModal") Belépek         
        button.btn.btn-outline-primary.my-2.my-sm-0(type="button", data-toggle="modal", data-target="#registerModal") Új vagyok         
      .logout(*ngIf="userService.loggedIn")
        span Belépve, mint: {{userService.loggedInUser.username}}           
        button.btn.btn-outline-dark.my-2.my-sm-0(type="submit" ,(click)="logout()") Kilépek
// MODALS
// loginModal
#loginModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="loginModalTitle", aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-header
        h5#loginModalLongTitle.modal-title Bejelentkezés          
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;       
      .modal-body
        input.form-control(type="text", name="username", id="loginUsername", placeholder="becenév" ,[(ngModel)]="user.username")
        p {{user.username}}                         
        input.form-control(type="password", name="password", id="loginPassword", placeholder="jelszó" ,[(ngModel)]="user.password")
        p {{user.password}}      
      .modal-footer
        button.btn.btn-secondary(type="button", data-dismiss="modal") Mégsem          
        button.btn.btn-primary(type="button" ,(click)="login()" , data-dismiss="modal") Belépek
// registerModal
#registerModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="registerModalTitle", aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-header
        h5#registerModalLongTitle.modal-title Beiktatás           
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;   
      .modal-body
        input.form-control(type="text", name="username", id="username", placeholder="becenév" ,[(ngModel)]="user.username")        
        input.form-control(type="email", name="email", id="email",  placeholder="villanylevél@" ,[(ngModel)]="user.email")
        input.form-control(type="password", name="password", id="password",  placeholder="jelszó" ,[(ngModel)]="user.password")
      .modal-footer
        button.btn.btn-secondary(type="button", data-dismiss="modal") Mégsem
        button.btn.btn-primary(type="button" ,(click)="register()", data-dismiss="modal") Iktass be
    
          