app-nav
.container
  section#home.row(style='height:800px')
    .col
      h1 Home
      |         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit blanditiis expedita iusto veniam quasi a soluta facere
      |         rem eligendi ipsum porro, hic deserunt commodi impedit facilis distinctio maxime aspernatur minima!  
  section#profile.row(style='height:800px; padding-top:56px')
    .col
      h1 Profile
      |         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit blanditiis expedita iusto veniam quasi a soluta facere
      |         rem eligendi ipsum porro, hic deserunt commodi impedit facilis distinctio maxime aspernatur minima!   
  section#library.row(style='height:800px; padding-top:56px')
    .col
      h1 Library
      |         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit blanditiis expedita iusto veniam quasi a soluta facere
      |         rem eligendi ipsum porro, hic deserunt commodi impedit facilis distinctio maxime aspernatur minima!   
  section#api.row(style='height:800px; padding-top:56px')
    .col
      h1 RESTful API
      app-role-api
      |         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit blanditiis expedita iusto veniam quasi a soluta facere
      |         rem eligendi ipsum porro, hic deserunt commodi impedit facilis distinctio maxime aspernatur minima!
  section#contact.row(style='height:800px; padding-top:56px')
    .col
      h1 Contact
      |         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit blanditiis expedita iusto veniam quasi a soluta facere
      |         rem eligendi ipsum porro, hic deserunt commodi impedit facilis distinctio maxime aspernatur minima! 