app-nav
.container
  section#home.row
    .col
      h1 Kezdjük
      |         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit blanditiis expedita iusto veniam quasi a soluta facere
      |         rem eligendi ipsum porro, hic deserunt commodi impedit facilis distinctio maxime aspernatur minima!  
  section#profile.row(style='padding-top:56px')
    .col
      h1 Profil
      |         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit blanditiis expedita iusto veniam quasi a soluta facere
      |         rem eligendi ipsum porro, hic deserunt commodi impedit facilis distinctio maxime aspernatur minima!   
  section#library.row(style='padding-top:56px')
    .col
      h1 Ismeretek
      |         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit blanditiis expedita iusto veniam quasi a soluta facere
      |         rem eligendi ipsum porro, hic deserunt commodi impedit facilis distinctio maxime aspernatur minima!   
  section#api.row(style='padding-top:56px')
    .col
      h1 RESTful API
      |         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit blanditiis expedita iusto veniam quasi a soluta facere
      |         rem eligendi ipsum porro, hic deserunt commodi impedit facilis distinctio maxime aspernatur minima!
      app-role-api
  section#contact.row(style='padding-top:56px')
    .col
      h1 Kapcsolat
      |         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit blanditiis expedita iusto veniam quasi a soluta facere
      |         rem eligendi ipsum porro, hic deserunt commodi impedit facilis distinctio maxime aspernatur minima!
footer
  .footer.py-3.text-center.bg-secondary © 2018 Copyright: OPC