.api.row(*ngIf="userService.loggedIn")
  .list
    button.btn.btn-outline-info.my-2.my-sm-0((click)="getAllFromUser(userService.loggedInUser['_id'])") Mutasd
  .adddNew
    button.btn.btn-outline-success.my-2.my-sm-0(data-toggle="modal", data-target="#addRole" ) Új tennivaló

  #addRole.modal.fade(tabindex="-1", role="dialog", aria-labelledby="addRoleTitle", aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
      .modal-content
        .modal-header
          h5#loginModalLongTitle.modal-title Új tennivaló         
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;       
        .modal-body
          .card(style='width: 18rem;')
            .card-body
              h5.card-title
                input.form-control(type='text', name='title', placeholder='Tennivaló címe' ,[(ngModel)]="newRole.title")             
              p.card-text
                textarea.form-control(name='description',placeholder="Tennivaló leírása" ,[(ngModel)]="newRole.description")           
            ul.list-group.list-group-flush
              li.list-group-item
                input.form-control(type='date', name='time' ,[(ngModel)]="newRole.time")       
              li.list-group-item
                input.form-control(type='text', name='location', placeholder='Hol is?' ,[(ngModel)]="newRole.location")
              li.list-group-item
                input.form-control.colorPicker(type='color', name='color' ,[(ngModel)]="newRole.color")
        .modal-footer
          button.btn.btn-outline-secondary.my-2.my-sm-0(type="button", data-dismiss="modal") Mégsem          
          button.btn.btn-outline-primary.my-2.my-sm-0(type="button" ,(click)="create(userService.loggedInUser['_id'])", data-dismiss="modal") Legyen
.row(*ngIf="userService.loggedIn")
  .col-xs-12.col-md-6.col-lg-4(*ngFor="let role of roles")
    .card(style="width: 18rem;", [style.borderColor]="role.color")
      .card-body
        h5.card-title
          input.form-control(type='text', name='title' ,[(ngModel)]="role.title")             
        p.card-text
          textarea.form-control(name='description' ,[(ngModel)]="role.description")          
      ul.list-group.list-group-flush
        li.list-group-item
          input.form-control(type='date', name='time' ,[(ngModel)]="role.time")       
        li.list-group-item
          input.form-control(type='text', name='location' ,[(ngModel)]="role.location")
        li.list-group-item
          input.form-control.colorPicker(type='color', name='color' ,[(ngModel)]="role.color")
      .card-body.btn-group
        button.btn.btn-outline-info.my-2.my-sm-0(type="button" ,(click)="update(role)") Frissítsd
        button.btn.btn-outline-danger.my-2.my-sm-0(type="button" ,(click)="delete(userService.loggedInUser['_id'], role['_id'])") Töröld
